@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #4F4F4F;
    overflow: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

.window {
    width: 768px;
    height: 843px;
    position: relative;
    overflow: hidden;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#tube_bg {
    position: absolute;
    left: -2372px;
    top: -156px;
    transition: .3s;
}

.page_home {
    position: relative;
    height: 100%;
}

#page_home_ip {
    position: absolute;
    top: 33%;
    left: 4%;
    width: 33.1%;
}

#page_home_title_1 {
    position: absolute;
    right: 2%;
    top: 3%;
    width: 75.6%;
}

#page_home_logo {
    position: absolute;
    right: 15%;
    top: 36%;
    width: 35.2%;
}

#page_home_btn {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 8%;
    width: 69.5%;
    animation: scale 1s infinite;
    cursor: pointer;
}

.hidden_title {
    animation: hidden_title 1s ease-out;
}

.hidden {
    animation: hidden 1s ease-out;
}

@keyframes scale {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.1);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

@keyframes hidden {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hidden_title {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-300px);
    }
}

#qablock {
    position: absolute;
    top: 29.5%;
    left: 5%;
    /* border: 1px solid; */
    width: 90%;
    height: 30.5%;
}

#ques {
    /* border: 2px solid red; */
    width: 95%;
    height: 50%;
    position: absolute;
    top: 3%;
    left: 2.5%;
    background-repeat: no-repeat;
    background-position: left;
}

#ansA {
    width: 48.5%;
    height: 40%;
    position: absolute;
    top: 54.5%;
    left: 2%;
    cursor: pointer;
    /* border: 2px solid blue; */
    background-repeat: no-repeat;
    background-position: right;
}

#ansB {
    width: 47%;
    height: 40%;
    position: absolute;
    top: 54.5%;
    left: 51%;
    cursor: pointer;
    /* border: 2px solid black; */
    background-repeat: no-repeat;
    background-position: right;
}

#firework {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#firework img {
    position: absolute;
    width: 100%;
}

#error {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#water {
    display: none;
}

#turn_block {
    position: absolute;
    top: 24%;
    left: 0;
    /* border: 1px solid; */
    width: 100%;
}

#turn_block_img {
    margin: 0 auto;
    width: 90%;
}

/* #turn_block_img img {
    width: 100%;
} */

#turn_block_ip {
    position: absolute;
    width: 46%;
    left: 53%;
    bottom: -45%;
}

#turn_block_ip img {
    width: 100%;
}
#correct_ans {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 44%;
    width: 70%;
}